html {
  font-family: "Noto Sans";
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#transcriptor {
  width: 60%;
  height: 100%;
  padding: 2em;
}

#input,
#output {
  width: 100%;
  height: 10em;
  resize: none;
  font-size: 16px;
  overflow-wrap: break-word;
}

.interlinear {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0.1em;
}

.interlinear > span {
  display: block;
}

.select-menu {
  position: absolute;
  z-index: 1000;
}
